.hidden {
    display: none;
}

body img {
    position:absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -99;
    opacity:60%;
}

#content_container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1800px;
    font-family: 'Work Sans', sans-serif;
}

/* header */
#header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: solid 1px black;
}

#header-container .logo {
    position: relative;
    top: 12px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#login-form {
    position: relative;
    top: 17.5px;
    padding-right: 15px;
}

#login-form input {
    border: none;
    background: none;
    
    font-size: 16px;
    padding: 12px;
}

#login-form input[type="text"] {
    border: #696c72 1px solid;
    border-radius: 4px;
}

#login-form input[type="submit"] {
    margin-left: 8px;
    border-radius: 4px;
    background-color: #44494c;
    color: #fff;
}

#greeting {
    position: relative;
    top: 20px;
    padding-right: 15px;
    font-size: 30px;
    margin: 0;
}

/* section left */
#left-container {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 850px;
    height: 850px;
}

#left-container #welcome {
    font-size: 40px;
    margin: 0px;
}

#left-container #clock {
    font-size: 100px;
    margin: 0px;
    line-height: 0.9em;
    
}

.weatherImg {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 470px;
    top: 60px;
    z-index: 0;
}

#weather .city {
    position: absolute;
    display: block;
    height: 25px;
    left: 541px;
    top: 62px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #44494d;
}

#weather .weather {
    position: absolute;
    height: 35px;
    left: 541px;
    top: 84px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: #44494d;
}

#quote {
    font-family: 'Noto Sans KR', sans-serif;
    color: #44494d;
}


/* section right */
#todo_container {
    position: absolute;
    top: 250px;
    right: 60px;
    margin-top: 14px;
    display: block;
    padding: 26px 23px;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    background-color : rgb(255, 255, 255);
    opacity: 70%;
}

#todo-form {
    width: inherit;
    height: 35px;
}

#todo-form input[type="text"] {
    width: 95%;
    height: 35px;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #44494c;
    color: #44494c;
    font-size: 18px;
    line-height: 22px;
}

#todo-list {
    display: block;
    margin: 8px 0;
    padding: 0;
    width: 600px;
    height: 90%;
    overflow-y: scroll;
    list-style-type: none;
}

#todo-list::-webkit-scrollbar {
    width: 8px;
}
#todo-list::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#todo-list::-webkit-scrollbar-track {
    display: none;
}

#todo-list li {
    width: 95%;
    padding: 8px 4px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    color: #44494c;
    border-bottom: #44494c dotted 0.5px;
    font-family: 'Noto Sans KR', sans-serif;
}

#todo-list li span {
    display: inline-block;
    width: 84%;
    line-height: 29px;
    font-size: 18px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}

#todo-list li button:first-child {
    display: inline-block;
    width: 24px;
    margin: 0 12px 0 0;
    padding: 2px 0 2px 0;
    background: none;
    color: #44494c;
    border: none;
    text-align: center;
    font-size: 22px;
    position: relative;
    float: left;
}

#todo-list li button:last-child {
    display: inline-block;
    width: 24px;
    margin-left: 10px;
    padding: 10px;
    background: none;
    color: #44494c;
    border: none;
    float: right;
}